<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context" 
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 <context:annotation-config/>
 
 <bean name="student" class="com.lifeCycleMethods.Student" init-method="init" destroy-method="destroy">
 	<property name="id" value="1"/>
 	<property name="name" value="Sunil"/>
 </bean>
 
 <bean name="studentInterface" class="com.lifeCycleMethods.StudentUsingInterface">
 	<property name="id" value="2"/>
 	<property name="name" value="Anil"/>
 </bean>
 
 <bean name="studentAnnotaion" class="com.lifeCycleMethods.StudentUsingAnnotation">
 	<property name="id" value="3"/>
 	<property name="name" value="Raj"/>
 </bean>
 </beans>